---
layout: archive
gallery:
  - url: /work/
    image_path: /images/product_owner.jpg
    caption: "Photo credit: [**3back**](https://www.mega.com/en/product/business-process-analysis)"
    alt: "Product Owner"
    title: "Work"
  - url: /rugby/
    image_path: /images/OAs.jpg
    alt: "Old Alleynian's"
    title: "Rugby"
  - url: /play/
    image_path: /images/whales-tail.jpg
    caption: "Photo credit: [**walls2walls**](https://walls2walls.wordpress.com/category/animals/)"
    alt: "Play"
    title: "Play"
---

{{ content }}
{% include gallery caption="Work, Rugby & Play." %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
