---
layout: archive
gallery:
  - url: /work/
    image_path: /images/product_owner.jpg
    caption: "Photo credit: [**3back**](https://www.mega.com/en/product/business-process-analysis)"
    alt: "Product Owner"
    title: "Work"
  - url: /rugby/
    image_path: /images/OAs.jpg
    alt: "Old Alleynian's"
    title: "Rugby"
  - url: /play/
    image_path: /images/whales-tail.jpg
    caption: "Photo credit: [**walls2walls**](https://walls2walls.wordpress.com/category/animals/)"
    alt: "Play"
    title: "Play"
---

{{ content }}
{% assign gallery = page.gallery %}
  {% if gallery.size == 2 %}
    {% assign gallery_layout = 'half' %}
  {% elsif gallery.size >= 3 %}
    {% assign gallery_layout = 'third' %}
  {% else %}
    {% assign gallery_layout = '' %}
  {% endif %}


<figure class="{{ gallery_layout }} {{ include.class }}">
  {% for img in gallery %}
    {% if img.url %}
      <a href="{{ img.url | relative_url }}"
        {% if img.title %}title="{{ img.title }}"{% endif %}>
          <img src="{{ img.image_path | relative_url }}"
               alt="{% if img.alt %}{{ img.alt }}{% endif %}">
      </a>
    {% else %}
      <img src="{{ img.image_path | relative_url }}"
           alt="{% if img.alt %}{{ img.alt }}{% endif %}">
    {% endif %}
  {% endfor %}
  {% if include.caption %}
    <figcaption>{{ include.caption | markdownify | remove: "<p>" | remove: "</p>" }}</figcaption>
  {% endif %}
</figure>
{% include gallery caption="Work, Rugby & Play." %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
